@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu+Mono:wght@400;700&display=swap');

:root {
    /* COLORS */
    --borders: #fca311;
    /* Nav Bar Colors */
    --nav-background: #000103ee;
    --nav-text: #C7A67C;
    /* Main Colors */
    --main-background: #e5e5e5;
    --main-text: #000103;

    /* FONT FAMILY */
    --mont: 'Montserrat', sans-serif;
    --ubuntu: 'Ubuntu Mono', monospace;
}

/* RESET SPACING HTML */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--mont);
    background-color: var(--main-background);
}

a {
    color: #000103;
    font-family: var(--ubuntu);
    font-size: 1.2rem;
}

/* NAVBAR */
.navbar {
    padding: 1.4rem 2rem;
    background-color: var(--nav-background) !important;
    border-bottom: solid var(--borders);
}

.navbar-brand,
.nav-link {
    color: var(--nav-text) !important;
}

.navbar-brand {
    font-size: 1.8rem;
}

.navbar-toggler {
    border-color: var(--nav-text) !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* Use :after combined with :hover to create underline animation when hover on links */
.nav-link {
    position: relative;
    margin: 0 1rem;
}

.nav-link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 1px;
    right: 0;
    background: var(--borders);
    transition: width .2s ease;
}

.nav-link:hover:after {
    width: 100%;
    left: 0;
    background: var(--borders);
}

/* NAVBAR END */

/* HERO SECTION */
.jumbotron {
    height: calc(100vh - 40px);
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero-banner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid white;
    /* Center in the middle of the banner */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

.profile-avatar:hover {
    border: solid var(--borders);
}

.display-4 {
    color: rgba(240, 255, 255, 0.869);
}

/* HERO SECTION END */

/* MAIN */
.main-section {
    padding: 50px 50px;
    display: flex;
    justify-content: flex-start;
    min-height: 40vh;
}

.main-section h2 {
    min-width: 180px;
    margin-right: 50px;
    border-right: var(--borders) solid;
    font-size: 2rem;
}

/* ABOUT */
.about-wrapper p {
    font-size: 1.2rem;
}

.skills-wrapper {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.skills-wrapper h4 {
    font-size: 1.9rem;
    padding-bottom: 1rem;
}

.list-group-item {
    border: 0;
    margin: 0 .5rem;
    color: white;
    background-color: black;
    cursor: pointer;
}

.list-group-item:hover {
    color: var(--borders);
    background-color: white;
}

/* ABOUT END */

/* PROJECTS */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
/* PROJECTS END */

/* FOOTER */

/* FOOTER END */

/* MAIN END */